.header {
    background-color: #3c9fc3;
    color: white;
}

h1.header {
    font-size: 9vw;
}

h2, h3, h4 {
    color: #7bd5d5;
}

form.register {
    border: 1px solid #3c9fc3;
    background-color: lightgrey;
    border-radius: 15px;
    padding: 15px;
}

.img {
    width: 30px;
    height: 30px;
}

.img:hover {
    width: 125px;
    height: 125px;
}

.bordered {
	border: 2px solid black;
}

ul {
	list-style-type: none;
}

#treeview {
	margin: 0;
	padding: 0;	
}

.caret {
	cursor: pointer;
	user-select: none;
}

.caret::before {
	content: "\25B6"; /* Right arrow */
	margin-right: 6px;
}

.caret-down::before {
	content: "\25BC"; /* Down arrow */	
}

.nested {
	display: none;
}

.active {
	display: block;
}